<h1>We're sorry</h1>

<h3>There was an error completing the SSO process. The following message should provide some useful information:</h3>

<p>{{ error_message }}</p>

<p>Please contact the administrator of this server, or contact the developers on <a href="https://github.com/braye/evecouch/issues">Github</a> if this error persists. Thank you!</p>
