<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/bulma.css"/>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                <a href="/" class="navbar-item">
                    Home
                </a>

                <a href="/fueltimers" class="navbar-item">
                    Structure Fuel Timers
                </a>

                {# <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                    </div>
                </div> #}
            </div>

                <div class="navbar-end">
                <div class="navbar-item">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <img src="https://image.eveonline.com/Character/{{app.user.characterId}}_128.jpg" alt="">
                    <span>&nbsp;{{app.user.username}}&nbsp;</span>
                    <a href="/logout" class="button is-light">Log Out</a>
                {% else %}
                    <div class="buttons">
                        <a href="https://login.eveonline.com/oauth/authorize?response_type=code&redirect_uri=https://nearlyepic.space/sso/callback&client_id=2e7f882b95f04b1291e96c2929dc7bc5&scope=esi-corporations.read_structures.v1 esi-wallet.read_corporation_wallets.v1 esi-universe.read_structures.v1
" class="button is-light">
                            Log in
                        </a>
                    </div>
                {% endif %}
                </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <section class="section">
            {% if error_message is defined %}
                <section class="hero is-danger is-bold is-medium">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Whoops! There was an error:
                            </h1>
                            <h2 class="subtitle">
                                {{ error_message }}
                            </h2>
                        </div>
                    </div>
                </section>
            {% endif %}
                {% block body %}{% endblock %}
                {% block javascripts %}{% endblock %}
            </section>
        </div>
        
    </body>
</html>
