{% extends 'base.html.twig' %}

{% block title %}500 Internal Server Error{% endblock %}

{% block body %}
    <h1 class="title">Something broke.</h1>

    <p>oopsie whoopsie! uwu we made a fucky wucky!!1 a wittle fucko boingo! the code monkies at our headquarters are working VEWY HAWD to fix this!</p>

    <p>For real though, contact the server administrator if this keeps happening. Something's probably wrong.</p>
{% endblock %}