{% extends 'base.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block body %}
    <h1 class="title">Page not found</h1>

    <p>What you are looking for is no longer here, or was never here. Try elsewhere, or go back <a href="/">home.</a></p>
{% endblock %}